
.sidebar-bg{
    background-color: $light-shade-blue-2;
    color: $dark-gray;
    box-shadow: 1rem .5rem solid $black;

    

    .nav-logo{
      width: 6rem;
    }

    a{
        text-decoration: none;
        color: $green;
    }
    span{
        color: $dark-blue;
        font-weight: 900;
    }

    i{
        color: $dark-gray;
    }

    .activated{
        background-color: rgba($navbar-bg, 0.3);
        border-radius: 1rem;
    }
}

aside{
    border: 1rem solid $black !important;
}