$main: rgba(yellow, .45);
$navbar-bg: rgba(0, 35, 102, 1); // navigation
$navbar-color: rgba(yellow, .45);
$light-shade-blue-1: #f5f8fa; // main background 1
$light-shade-blue-2: #eef2f5; // main background 2
$dark-blue: #253746; // navigation and header
$green: #3bb873; //button and interactive elements
$dark-gray: #333333; //text and icons
$orange: #f2711c; // alert and highlight
$white:  #fff;
