.text-dis {
  color: $navbar-bg;
  &:active {
    color: $light-shade-blue-2;
  }
}

.dis-height-100 {
  min-height: 100px !important;
  @include media-breakpoint-down(md) {
    min-height: 160px !important;
  }
}

.dis-title {
  color: $light-shade-blue-1;
  // xs
  @media screen and (max-width: 280px) {
    font-size: 1rem;
    margin-top: 2.5rem;
  }

  //   sm
  @include media-breakpoint-down(sm) {
    font-size: 1.4rem;
    margin-top: 0;
    // margin-left: 1.3rem;
  }

  //
}

.dis-margin-top {
  @include media-breakpoint-down(sm) {
    margin-top: 2rem;
  }

  @include media-breakpoint-up(sm) {
    margin-top: 2.2rem;
  }

  @media only screen and (max-width: 280px) {
    margin-top: 1rem;
  }
}

.chat-box-2 {

  .chat .chat-header {
    padding: 15px 20px;
    border-bottom: 2px solid #f4f7f6;
  }

  .chat .chat-header img {
    float: left;
    border-radius: 40px;
    width: 40px;
  }

  .chat .chat-header .chat-about {
    float: left;
    padding-left: 10px;
  }

  .chat .chat-history {
    padding: 20px;
    border-bottom: 2px solid #fff;
  }

  .chat .chat-history ul {
    padding: 0;
  }

  .chat .chat-history ul li {
    list-style: none;
    margin-bottom: 30px;
  }

  .chat .chat-history ul li:last-child {
    margin-bottom: 0px;
  }

  .chat .chat-history .message-data {
    margin-bottom: 15px;
  }

  .chat .chat-history .message-data img {
    border-radius: 40px;
    width: 40px;
  }

  .chat .chat-history .message-data-time {
    color: #434651;
    padding-left: 6px;
  }

  .chat .chat-history .message {
    color: #444;
    padding: 18px 20px;
    line-height: 26px;
    font-size: 16px;
    border-radius: 7px;
    display: inline-block;
    position: relative;
  }

  .chat .chat-history .message:after {
    bottom: 100%;
    left: 7%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: #fff;
    border-width: 10px;
    margin-left: -10px;
  }

  .chat .chat-history .my-message {
    background: #efefef;
  }

  .chat .chat-history .my-message:after {
    bottom: 100%;
    left: 30px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: #efefef;
    border-width: 10px;
    margin-left: -10px;
  }

  .chat .chat-history .other-message {
    background: #e8f1f3;
    text-align: right;
  }

  .chat .chat-history .other-message:after {
    border-bottom-color: #e8f1f3;
    left: 93%;
  }

  .chat .chat-message {
    padding: 20px;
  }

  .online,
  .offline,
  .me {
    margin-right: 2px;
    font-size: 8px;
    vertical-align: middle;
  }

  .online {
    color: #86c541;
  }

  .offline {
    color: #e47297;
  }

  .me {
    color: #1d8ecd;
  }

  .float-right {
    float: right;
  }

  .clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
  @media only screen and (max-width: 767px) {
    .chat-app .chat {
      margin: 0;
    }
    .chat-app .chat .chat-header {
      border-radius: 0.55rem 0.55rem 0 0;
    }
    .chat-app .chat-history {
      // height: 300px;
      overflow-x: auto;
    }
  }

  @media only screen and (min-width: 768px) and (max-width: 992px) {
    .chat-app .chat-history {
      // height: 600px;
      overflow-x: auto;
    }
  }

  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
    .chat-app .chat-history {
      // height: calc(100vh - 350px);
      overflow-x: auto;
    }
  }
}
